 * {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
 }
 .html {
     font-size: 62.5%;
 }

 body {
     font-family: 'Open Sans', sans-serif;
     overflow: hidden;
 }

 nav {
     position: fixed;
     top: 20px;
     left: 20px;
 }

 nav a {
     color: #fff;
     text-decoration: none;
     display: inline-block;
     animation: moverIzquierda 1s ease-in;
 }

 header {
     /*background: #43cea2;
     /* fallback for old browsers */
     /*background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
     /* Chrome 10-25, Safari 5.1-6 */
     /*background: linear-gradient(to right, #43cea2, #185a9d);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: #8e9eab;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #8e9eab, #eef2f3);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #8e9eab, #eef2f3);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     height: auto;
     padding: 170px;
     width: 100%;
 }

 .container {
     width: 95%;
     max-width: 1200px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     margin: auto;
 }

 img {
     display: block;
     height: 450px;
     object-fit: cover;
     width: auto;
     border-radius: 50%;
     animation: arriba 1s ease-in;
 }

 .texto {
     width: 50%;
     color: #fff;
 }

 .texto h1 {
     color: #031c31;
     font-size: 80px;
     animation: moverDerecha 1s ease-in;
 }

 .texto h2 {
     font-size: 30px;
     animation: moverIzquierda 1s ease-in;
 }

 .texto a {
     display: inline-block;
     color: #fff;
     font-weight: 300;
     text-decoration: none;
     margin-top: 30px;
     border: 1px solid #fff;
     width: 150px;
     border-radius: 3px;
     text-align: center;
     padding: 10px 0;
     animation: arriba 1s ease-in;
 }

 .wave {
     height: 100px;
     widows: 100px;
     background: #f953c6;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #f953c6, #b91d73);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #f953c6, #b91d73);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 @keyframes moverIzquierda {
     0% {
         opacity: 0;
         transform: translateX(-100px);
     }
     100% {
         opacity: 1;
         transform: translate(0);
     }
 }

 @keyframes moverDerecha {
     0% {
         opacity: 0;
         transform: translateX(100px);
     }
     100% {
         opacity: 1;
         transform: translate(0);
     }
 }

 @keyframes arriba {
     0% {
         opacity: 0;
         transform: translateY(-100px);
     }
     100% {
         opacity: 1;
         transform: translate(0);
     }
 }

 @media (min-width: 600px) {
     .header {
         width: 600px;
         margin-left: auto;
         margin-right: auto;
     }
 }
